*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(3, 3, 32);
}
h1{
    text-align: center;
    font-size: 80px;
    font-family: "gilroy";
    color: white;
}
.cont{
    width: 30%;
    background-color: slateblue;
    /*border: 2px solid white;*/
    border-radius: 20px;
    padding: 10px;
    margin-left: 2%;
    margin-bottom: 2%;
}
.cont h5{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.cont input{
    width: 70%;
    border-radius: 10px;
    padding: 4px;
    margin-top: 1%;
    font-size: 20px;
    outline: none;
}
.cont textarea{
    width: 70%;
    border-radius: 10px;
    padding: 4px;
    margin-top: 1%;
    font-size: 20px;
    outline: none;
}
.btn{
    width: 20%;
    border-radius: 15px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
    margin-left: 6%;
}